button.mat-raised-button.mat-button-base.mat-primary {
  margin-bottom: 10px;
}

.userHeader {
  text-align: right;
  padding: 10px 0;
  margin: 0;
}

.userHeader .admin_btn button{
    margin-top:5px;
    margin-bottom: 0;
}
