<div class="row">
  <div class="col-md-6">
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
  <div class="col-md-6 WeekPagination">
    <a href="javascript:void(0)">
      <span class="material-icons"  (click)="setPreviousWeek()">
        navigate_before
        </span>
    </a>
      <span>{{convertDate(startDate,'A')}}</span>&nbsp;&nbsp;&nbsp; 
      <span>{{convertDate(EndDate,'A')}}</span>
      <a href="javascript:void(0)">        
      <span class="material-icons"  (click)="setNextWeek()">
        navigate_next
        </span>
      </a>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table
  [dataSource]="dataSource" multiTemplateDataRows matSort
  class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
    </ng-container>

    <!-- SignInDate Column -->
    <ng-container matColumnDef="SignInDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sign In Date </th>
      <td mat-cell *matCellDef="let row"> {{row.SignInDate}} </td>
    </ng-container>

    <!-- SignInTime Column -->
    <ng-container matColumnDef="SignInTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sign In Time </th>
      <td mat-cell *matCellDef="let row"> {{row.SignInTime}} </td>
    </ng-container>

    <!-- SignOutTime Column -->
    <ng-container matColumnDef="SignOutTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sign Out Time </th>
      <td mat-cell *matCellDef="let row" > {{row.SignOutTime}} </td>
    </ng-container>

    <!-- UserId Column -->
    <ng-container matColumnDef="UserId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
      <td mat-cell *matCellDef="let row" > {{row.UserId}} </td>
    </ng-container>
    
    <!-- LoginTime Column -->
    <ng-container matColumnDef="LoginTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Hours </th>
      <td mat-cell *matCellDef="let row" > {{row.LoginTime}} </td>
    </ng-container>
    
    <!-- IpAddress Column -->
    <ng-container matColumnDef="IpAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IP Address </th>
      <td mat-cell *matCellDef="let row" > {{row.IpAddress}} </td>
    </ng-container>

    <!--TimesheetHours column-->
    <ng-container matColumnDef="TotalMinutes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timesheet hours</th>
      <td mat-cell *matCellDef="let row">
        {{row.TotalMinutes}}
        <div *ngIf="row == expandedElement ;else elseBlock">
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon>arrow_drop_down</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <!--Email column-->
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">
          {{row.Email}}
        </td>
      </ng-container>

<!--Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
<td class="internalTable" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
 <div class="example-element-detail"
    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
   <div class="mat-elevation-z8 ChildTable">
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field> -->
    <ng-container *ngIf="userWorkItemDataSource!=undefined && userWorkItemDataSource.filteredData.length">
      <div class="mat-elevation-z8 ">
        <table mat-table [dataSource]="userWorkItemDataSource" matSort>
          
          <!-- OrganisationName Column -->
          <ng-container matColumnDef="OrganisationName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organisation Name </th>
            <td mat-cell *matCellDef="let row" > {{row.OrganisationName}} </td>
          </ng-container>    
          
          <!-- AreaPath Column -->
          <ng-container matColumnDef="AreaPath">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AreaPath </th>
            <td mat-cell *matCellDef="let row"> {{row.AreaPath}} </td>
          </ng-container>
      
          <!-- TeamProject Column -->
          <ng-container matColumnDef="TeamProject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TeamProject </th>
            <td mat-cell *matCellDef="let row"> {{row.TeamProject}} </td>
          </ng-container>
      
          <!-- IterationPath Column -->
          <ng-container matColumnDef="IterationPath">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IterationPath </th>
            <td mat-cell *matCellDef="let row"> {{row.IterationPath}} </td>
          </ng-container>
      
          <!-- WorkItemType Column -->
          <ng-container matColumnDef="WorkItemType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> WorkItemType </th>
            <td mat-cell *matCellDef="let row" > {{row.WorkItemType}} </td>
          </ng-container>
    
          <!-- Title Column -->
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row" > {{row.Title}} </td>
          </ng-container>
  
          <!-- WorkHours  Column -->
          <ng-container matColumnDef="WorkHours">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Hours </th>
            <td mat-cell *matCellDef="let row" > {{row.Minutes}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="childColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: childColumnsToDisplay;">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </ng-container>
    <ng-container *ngIf="userWorkItemDataSource!=undefined && !userWorkItemDataSource.filteredData.length">
      <div class="recordNotFound">
        No data found!!
      </div>
      </ng-container>
 </div>
</div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let element; columns: displayedColumns;"
 class="example-element-row"
 [class.example-expanded-row]="expandedElement === element"
 (click)="expandedElement = expandedElement === element ? null : element;getUserWorkItems(element)">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>